/MNIST-detection/*.pth
/MNIST-detection/data/
/.idea/
/.ipynb_checkpoints/
/dog-vs-cat/submission
/dog-vs-cat/modelDict/
/dog-vs-cat/.ipynb_checkpoints/
/dog-vs-cat/tensorboard/
/dog-vs-cat/pycharm-project/.idea/
/dog-vs-cat/pycharm-project/src/__pycache__/
/dog-vs-cat/pycharm-project/src/tensorboard/
/Automatic-poem-writing/.ipynb_checkpoints/
/Automatic-poem-writing/modelDict/
/Sentiment-classification/modelDict/
/Sentiment-classification/tensorboard/
/Sentiment-classification/.idea/
/Sentiment-classification/.ipynb_checkpoints/
/Sentiment-classification/src/tensorboard/
/Sentiment-classification/src/modelDict/
/Sentiment-classification/src/__pycache__/